html, body, #root {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex: 1;
    background: #FAFAFA;
}

.message {
    text-align: center;
    margin: 0 -20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
