#myModal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  background: rgba(0,0,0,0.3);

  &.is-visible {
    display: block;
  }

  #withdraw {
    transform: translate(calc(50vw - 300px), 25vh);
    width: 600px;
    height: 50vh;
    background: #fff;

    .header {
      padding: 10px;
      overflow: hidden;

      .myModal {
        float: right;
      }
    }

    .content {
      display: flex;
      justify-content: space-between;

      > * {
        margin: 20px;
      }
    }
  }
}
